In [101]:
import pandas as pd
import xlrd
stu_inf = pd.read_csv('./test.csv',encoding = 'gb18030')
stu_inf.head()
stu_inf.shape

(100000, 35)

In [102]:
df_train = stu_inf[0:70000]
df_train.head()
# df_train.shape

,school,class,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,All_Sup,PairEdu,more_high,All_alc,Dalc_per_week,studytime_ratio,G
0,0,0,16,0,1,1,2,2,3,2,...,5,5,0,False,2.0,True,7,0.285714,0.333333,7.0
1,0,1,17,0,1,1,1,4,4,0,...,2,4,7,False,2.5,False,7,0.714286,0.600000,9.0
2,0,0,20,0,0,1,2,1,2,1,...,4,4,5,False,1.5,True,8,0.500000,0.333333,10.0
3,0,1,15,1,0,1,4,2,3,1,...,4,2,8,False,3.0,False,9,0.555556,0.363636,10.0
4,0,0,16,0,1,0,1,2,3,0,...,3,2,3,True,1.5,True,6,0.500000,0.500000,10.0

In [103]:
df_test = stu_inf[70000:]
df_test.drop(['G'], axis=1, inplace=True)
df_test
# df_test.shape

,school,class,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,goout,Walc,health,absences,All_Sup,PairEdu,more_high,All_alc,Dalc_per_week,studytime_ratio
70000,1,0,19,1,0,0,2,4,1,1,...,5,2,2,6,False,3.0,True,7,0.714286,0.375000
70001,1,1,15,0,0,1,4,2,1,0,...,5,4,3,2,False,3.0,False,6,0.333333,0.125000
70002,1,1,17,1,0,1,1,3,1,2,...,5,4,2,7,True,2.0,False,5,0.200000,0.222222
70003,1,0,20,1,1,0,1,1,3,4,...,1,1,2,7,False,1.0,True,4,0.750000,0.222222
70004,0,0,22,1,0,1,2,3,0,0,...,5,3,2,5,False,2.5,True,4,0.250000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,0,0,18,0,1,0,2,1,3,0,...,1,2,5,8,True,1.5,False,3,0.333333,0.500000
99996,1,1,15,1,0,1,1,1,1,2,...,1,3,3,4,False,1.0,False,5,0.400000,0.250000
99997,1,0,22,1,1,0,4,4,0,2,...,1,5,5,1,False,4.0,False,9,0.444444,0.333333
99998,0,0,20,0,0,1,4,4,1,1,...,1,3,1,5,True,4.0,True,7,0.571429,0.250000
99999,1,1,16,1,1,1,1,4,2,2,...,3,5,1,5,False,2.5,False,7,0.285714,0.333333

In [104]:
obj_cols = [col for t, col in zip(df_test.dtypes, df_test.columns) if t == 'object']
# df_test.columns
obj_cols

[]

In [105]:
num_cols = [col for t, col in zip(df_test.dtypes, df_test.columns) if t == 'float' or t == 'int64'] 
# df_test.dtypes
num_cols

['school',
 'class',
 'age',
 'address',
 'famsize',
 'Pstatus',
 'Medu',
 'Fedu',
 'Mjob',
 'Fjob',
 'reason',
 'guardian',
 'traveltime',
 'failures',
 'famrel',
 'freetime',
 'goout',
 'Walc',
 'health',
 'absences',
 'PairEdu',
 'All_alc',
 'Dalc_per_week',
 'studytime_ratio']

In [106]:
bool_cols = [col for t, col in zip(df_test.dtypes, df_test.columns) if t == 'bool'] 
bool_cols

['schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'All_Sup',
 'more_high']

In [107]:
cat_cols = obj_cols + bool_cols
cat_cols

['schoolsup',
 'famsup',
 'paid',
 'activities',
 'nursery',
 'higher',
 'internet',
 'romantic',
 'All_Sup',
 'more_high']

In [108]:
df_train_, df_test_ = df_train.copy(), df_test.copy()

In [109]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

# obj_cols = [col for t, col in zip(df_test.dtypes, df_test.columns) if t == 'object']
# for col in obj_cols:
#     df_train_[col] = le.fit_transform(df_train_[col])
#     df_test_[col] = le.transform(df_test_[col])
    
# df_train_.head()

In [110]:
# df_train_['All_Sup'] = df_train_['famsup'] & df_train_['schoolsup']
# df_test_['All_Sup'] = df_test_['famsup'] & df_test_['schoolsup']

# df_train_.head()

In [111]:
# df_train_['PairEdu'] = df_train_[['Fedu', 'Medu']].mean(axis=1)
# df_test_['PairEdu'] = df_test_[['Fedu', 'Medu']].mean(axis=1)

# df_train_['more_high'] = df_train['higher'] & (df_train['schoolsup'] | df_train['paid'])
# df_test_['more_high'] = df_test['higher'] & (df_test['schoolsup'] | df_test['paid'])

In [112]:
# df_train_['All_alc'] = df_train_['Walc'] + df_train_['Dalc']
# df_test_['All_alc'] = df_test_['Walc'] + df_test_['Dalc']

# df_train_['Dalc_per_week'] = df_train_['Dalc'] / df_train_['All_alc']
# df_test_['Dalc_per_week'] = df_test_['Dalc'] / df_test_['All_alc']

# df_train_.drop(['Dalc'], axis=1, inplace=True)
# df_test_.drop(['Dalc'], axis=1, inplace=True)

In [113]:
# df_train_['studytime_ratio'] = df_train_['studytime'] / (df_train_[['studytime', 'traveltime', 'freetime']].sum(axis=1))
# df_test_['studytime_ratio'] = df_test_['studytime'] / (df_test_[['studytime', 'traveltime', 'freetime']].sum(axis=1))

# df_train_.drop(["studytime"], axis=1, inplace=True)
# df_test_.drop(["studytime"], axis=1, inplace=True)

df_train_.head()

,school,class,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,Walc,health,absences,All_Sup,PairEdu,more_high,All_alc,Dalc_per_week,studytime_ratio,G
0,0,0,16,0,1,1,2,2,3,2,...,5,5,0,False,2.0,True,7,0.285714,0.333333,7.0
1,0,1,17,0,1,1,1,4,4,0,...,2,4,7,False,2.5,False,7,0.714286,0.600000,9.0
2,0,0,20,0,0,1,2,1,2,1,...,4,4,5,False,1.5,True,8,0.500000,0.333333,10.0
3,0,1,15,1,0,1,4,2,3,1,...,4,2,8,False,3.0,False,9,0.555556,0.363636,10.0
4,0,0,16,0,1,0,1,2,3,0,...,3,2,3,True,1.5,True,6,0.500000,0.500000,10.0

In [114]:
target_0_indx = df_train[df_train['G'] == 0].index
target_0_indx

Int64Index([], dtype='int64')

In [115]:
def rmse(predictions, targets):
    return np.sqrt(((predictions - targets) ** 2).mean())

In [116]:
from sklearn.model_selection import KFold
# from tqdm.notebook import tqdm
from tqdm import tqdm
import re
from functools import partial

# def cross_validation(reg, X, y, cv=5,scoring=None, random_state=42, verbose=True, cat_cols=[], reg_name="",
#                     preprocess=None):
# #     if scoring is None: 
# #         print("Pass scoring as evaluation function as an argument.")
# #         return None
#     oof = []
#     np.random.seed(random_state)
    
#     seeds = np.random.randint(0, 100000, size=cv)
    
#     for i in range(cv):
#         k_fold = KFold(n_splits=cv, shuffle=True, random_state=seeds[i])
#         temp = np.zeros(len(X))

#         for fold, ids in enumerate(tqdm(k_fold.split(X, y), disable=not verbose)):
#             if verbose: print("{} Fold.".format(fold+1))
#             X_train, y_train = X[ids[0]], y[ids[0]]
#             X_valid, y_valid = X[ids[1]], y[ids[1]]

#     #         print(help(preprocess))
#             if preprocess is not None:
#     #       X_train, X_valid = partial(preprocess, train=X_train, test=X_valid)
#                 X_train, X_valid = preprocess(train=X_train, test=X_valid)

#             if verbose: print("\tFitting...")
#             if reg_name == "LightGBM":
#                 reg.fit(X_train, y_train, categorical_feature=cat_cols)
#             elif reg_name == "CatBoost":
#                 reg.fit(X_train, y_train, cat_features=cat_cols)
#             else:
#                 reg.fit(X_train, y_train)
#             if verbose: print("\tPredicting...")
#             p = reg.predict(X_valid)
#             if verbose: print("\tEvaluating...")
            
#             temp[ids[1]] += p
#         oof = np.append(oof, rmse(y, temp))
        
#     return np.mean(oof)

In [117]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

def preprocess(train, test, target_col="G", standardize=True, impute=True):
    work = None
    
    if not isinstance(train, np.ndarray):
        if target_col in train.columns:
            work = train[target_col]
            train = train.drop(target_col, axis=1)
    
    if impute:
        imputer = SimpleImputer(strategy="median")
        train = imputer.fit_transform(train)
        test = imputer.transform(test)
        
    if standardize:
        sc = StandardScaler()
        train = sc.fit_transform(train)
        test = sc.transform(test)
    
#     if work is not None:
#         train[target_col] = work.values
    return train, test

In [118]:
from sklearn.model_selection import cross_validate
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from xgboost import XGBRegressor, XGBRFRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.linear_model import ElasticNet, SGDRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.tree import DecisionTreeRegressor
import numpy as np
target_col = 'G'
X = df_train_.drop([target_col], axis=1)
y = df_train_[target_col]

X_other = X.drop(target_0_indx, axis=0).values
y_other = y.drop(target_0_indx, axis=0).values


# d_regs = {
#     "LightGBM": LGBMRegressor(),
#     "CatBoost": CatBoostRegressor(verbose=False),
#     "XGBoost": XGBRegressor(objective="reg:squarederror"),
#     "XGRFBoost": XGBRFRegressor(objective="reg:squarederror"),
#     "RandomForest": RandomForestRegressor(n_estimators=100, n_jobs=-1),
#     "DecisionTree": DecisionTreeRegressor(),
#     "Support Vector Machine": SVR(gamma="auto"),
#     "ElasticNet": ElasticNet(),
#     "SGD": SGDRegressor(),
# #     "BaggingReg": BaggingRegressor(DecisionTreeRegressor(), n_estimators=100, n_jobs=-1),
# }

# d_scores = {}
# for reg_name, reg in d_regs.items():
#     print("{} : ".format(reg_name), end="")
    
# #     cross_validate(reg, X_other, y_other, cv=5, scoring=rmse_scorer)['test_score'].mean()
#     d_scores[reg_name] = cross_validation(reg, X_other, y_other, cv=5,scoring=rmse, random_state= 100,verbose=False, cat_cols=cat_cols, preprocess=preprocess)

# #     print(len(d_scores))
#     print(d_scores[reg_name])

In [119]:
# from imblearn.over_sampling import SMOTE
# from lightgbm import LGBMClassifier
# from sklearn.model_selection import KFold
# from sklearn.metrics import roc_auc_score

# smote = SMOTE()

# X_0 = X.copy()
# y_0 = y.copy()
# y_0[y_0 != 0] = 10

# k_fold = KFold(n_splits=5, shuffle=False)

# list_cv = np.zeros(len(y_0))

# for ids in k_fold.split(X_0, y_0):
#     X_train, y_train = X_0.iloc[ids[0]], y_0.iloc[ids[0]]
#     X_valid, y_valid = X_0.iloc[ids[1]], y_0.iloc[ids[1]]
    
#     smote = SMOTE()
#     X_train, y_train = smote.fit_sample(X_train, y_train)

#     clf = LGBMClassifier()
#     clf.fit(X_train, y_train)
#     list_cv[ids[1]] += clf.predict_proba(X_valid)[:, 1]
    
# roc_auc_score(y_0, list_cv)

In [120]:
from catboost import CatBoostClassifier, CatBoostRegressor
from sklearn.metrics import r2_score
import joblib
cat_reg = CatBoostRegressor(verbose=False)
cat_clf = CatBoostClassifier(verbose=False)
# os.chdir("./model_save")
X = df_train_.drop([target_col], axis=1)
y = df_train_[target_col]
X_test = df_test_.copy()
Y_test = stu_inf[70000:]['G']
print(X_test)
from imblearn.over_sampling import SMOTE

X_0 = X.copy()
y_0 = y.copy()
y_0[y_0 != 0] = 10

smote = SMOTE()
# X_0, y_0 = smote.fit_sample(X_0, y_0)

# cat_clf.fit(X_0, y_0)

# clf_predict = cat_clf.predict(X_test)
# predict_0_indx = X_test[clf_predict == 0].index
# X_test_normal = X_test.drop(predict_0_indx, axis=0)
# Y_test_normal = Y_test.drop(predict_0_indx, axis=0)
print(Y_test)
# print(type(Y_test_normal))

df_tmp = df_train_[df_train_[target_col] != 0]
X_ = df_tmp.drop([target_col], axis=1)
y_ = df_tmp[target_col]
cat_reg.fit(X_, y_)
joblib.dump(cat_reg, "train_model.m")

cat_predict = cat_reg.predict(X_test)
# print(X_test)
# print('#################')
# print(cat_predict)
# print(cat_predict[1])
# print(len(cat_predict))
# print(type(cat_predict))

Score = cat_reg.score(X_test, Y_test)

print(Score)

print('#################')
print(r2_score(Y_test,cat_predict))


df_pred_reg = pd.DataFrame(cat_predict, index=X_test.index, columns=[target_col])
# df_pred_clf = pd.DataFrame(np.zeros(len(predict_0_indx)), index=predict_0_indx, columns=[target_col])

# df_predict = pd.concat([df_pred_reg, df_pred_clf]).sort_index()
df_predict = df_pred_reg.sort_index()

# df_predict = np.round(df_predict)
df_predict.to_csv('cat_submit2.csv')

school  class  age  address  famsize  Pstatus  Medu  Fedu  Mjob  Fjob  \
70000       1      0   19        1        0        0     2     4     1     1
70001       1      1   15        0        0        1     4     2     1     0
70002       1      1   17        1        0        1     1     3     1     2
70003       1      0   20        1        1        0     1     1     3     4
70004       0      0   22        1        0        1     2     3     0     0
...       ...    ...  ...      ...      ...      ...   ...   ...   ...   ...
99995       0      0   18        0        1        0     2     1     3     0
99996       1      1   15        1        0        1     1     1     1     2
99997       1      0   22        1        1        0     4     4     0     2
99998       0      0   20        0        0        1     4     4     1     1
99999       1      1   16        1        1        1     1     4     2     2

       ...  goout  Walc  health  absences  All_Sup  PairEdu  more_high  \
70000  ...      5     2       2         6    False      3.0       True
70001  ...      5     4       3         2    False      3.0      False
70002  ...      5     4       2         7     True      2.0      False
70003  ...      1     1       2         7    False      1.0       True
70004  ...      5     3       2         5    False      2.5       True
...    ...    ...   ...     ...       ...      ...      ...        ...
99995  ...      1     2       5         8     True      1.5      False
99996  ...      1     3       3         4    False      1.0      False
99997  ...      1     5       5         1    False      4.0      False
99998  ...      1     3       1         5     True      4.0       True
99999  ...      3     5       1         5    False      2.5      False

       All_alc  Dalc_per_week  studytime_ratio
70000        7       0.714286         0.375000
70001        6       0.333333         0.125000
70002        5       0.200000         0.222222
70003        4       0.750000         0.222222
70004        4       0.250000         0.333333
...        ...            ...              ...
99995        3       0.333333         0.500000
99996        5       0.400000         0.250000
99997        9       0.444444         0.333333
99998        7       0.571429         0.250000
99999        7       0.285714         0.333333

[30000 rows x 34 columns]
732     12.0
733      9.0
734      9.0
735      9.0
736     11.0
        ...
1039     9.0
1040    11.0
1041     8.0
1042    10.0
1043     9.0
Name: G, Length: 312, dtype: float64

ValueError: operands could not be broadcast together with shapes (312,) (30000,)